<div class="my-navbar-transparent">
  <%= link_to "SHAN MUA", root_path, class: "logo"%>
  <input type="checkbox" id="active">
  <label for="active" class="dropdown"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="gallery">GALLERY</a></li>
        <li><a href="about">ABOUT</a></li>
        <li><a href="services">SERVICES</a></li>
    </ul>
    <p class="freya">website designed and built by freya heaton</p>
  </div>
</div>
